.left-content
  .blank
  .searches
  .groups
    .group
      .group__image
      .group__name
      .group__text
      .group__date
    .group
      .group__image
      .group__name
      .group__text
      .group__date
    .group
      .group__image
      .group__name
      .group__text
      .group__date