* {
  box-sizing: border-box;
}

// html {
//   height: 100%;
//   width: 100%;
// }


// body {
//   height: 100%;
//   width: 100%;

// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// body {
//   margin: 0;
//   padding: 0;
// }

.header {
  height: 100vh;
  width: 56px;
  background-color: #2D3649;
  float: left;
  position: relative;
  
  .comment-number {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 10px;
    position: absolute;
    padding-left: 4px;
    left: 34px;
    top: 80px;
    z-index: 10;
  }
}

.icons {
  height: 100%;
  padding: 0px 20px 0px;
  position: relative;
  z-index: 5;

  &__icon--up {
    margin-bottom: 20px;
    font-size: 20px;
  }
    i {
      color: #697794;
    }
  .fas.fa-user {
    margin-top: 35px;
  }

  &__icon--downs {
    margin-top: 100px;
    font-size: 18px;
    position: absolute;
	  bottom: 0;
  }

  &__icon--down {
    margin-bottom: 20px;
  }

  .far.fa-bookmark {
    margin-left: 1px;
  }
}

.left-content {
  height: 100vh;
  width: 270px;
  background-color: white;
  float: left;

  .blank {
    height: 20px;
    width: 100%;
    background-color: #EEF2f6;
    padding-left: 10px;
    display: flex;
  }

  .searches {
    height: 40px;
    width: 100%;
    background-color: white;
    border: 1px solid;
    border-color: #DDDDDD;
    display: flex;

    .fas.fa-search {
      line-height: 40px;
      font-size: 12px;
      color: #D3D3D3;
      margin-left: 4px;
    }
     
    .searche-area {
      margin: 6px 20px 0px 4px;
      border-style: none;
    }

    .searche-area::placeholder {
      font-size: 12px;
      color: #D3D3D3;
    }
    
    &__search-menus {
      line-height: 40px;
      font-size: 12px;
      

      a {
        text-decoration: none;
        color: #D3D3D3;
      }

      .fas.fa-caret-down {
        font-size: 2px;
        margin-right: 4px;
      }

      .fas.fa-angle-left {
        border: 1px solid;
        border-right-style: none;
        border-color: #DDDDDD;
        padding: 6px 3px;
      }
    }
  }

.groups {
  height: calc(100vh - 60px);
  overflow: scroll;
  position: relative;
  border-right: 1px solid;
  border-color: #DDDDDD;

  &__choose {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #00C53E;
    position: fixed;
    position: absolute;
    bottom: 20px;
    right: 20px;

    .fas.fa-plus {
      margin: 13px 0px 0px 15px;
      font-size: 24px;
      color: white;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-color: #00C53E;
      -webkit-text-stroke-width: 2px;
    }
  }

  .group {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    position: relative;

    &__image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 8px;

      .image {
        // background-image: url("sample1.jpeg");
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    &__name {
      font-size: 12px;
      margin-left: 4px;
      height: 15px;
      width: 120px;
      display: flex;

      .group__name--number {
        width: 14px;
        padding-left: 56px;
      }
    }

    &__text {
      color: #A9A9A9;
      font-size: 12px;
      position: absolute;
      left: 62px;
      top: 17px;
      width: 140px;
      height: 36px;
    }

    &__date {
      color: #A9A9A9;
      opacity: 0.8;
      margin-left: 22px;
      text-align: right;
      padding-right: 8px;
      font-size: 11px;
      width: 60px;

      .group__date--number {
        background-color: #00C53E;
        width: 24px;
        height: 20px;
        color: white;
        border-radius: 17px/15px;
        padding-right: 8px;
        padding-top: 1px;
        margin-left: 28px;
      }
    }
  }
}
}

.right-content {
  height: 100vh;
  width: calc(100vw - 326px);
  background-color: #8FBC8F;
  float: left;

  .blank {
    height: 20px;
    width: 100%;
    background-color: #EEF2f6;
    display: flex;
  }

  .informations {
    height: 40px;
    width: 100%;
    background-color: #EEF2f6;
    border: 1px solid;
    border-color: #DDDDDD;
    border-left-style: none; 

    &__icons {
      display: flex;
      line-height: 40px;
      position: relative;

      a {
        text-decoration: none;
          color: black;
          margin-left: 10px;
      }

      .informations__icon--right {
        margin-left: 2px;
        font-size: 13px;

        .fas.fa-lock {
          font-size: 10px;
          color: #D3D3D3;
        }

        .fas.fa-volume-down {
          color: #848A99;
        }
      }

      .informations__icon--left {
        font-size: 13px;
        position: absolute;
        right: 10px;
        
        i {
          margin-left: 2px;
          color: #838A99;
        }
        
        .fas.fa-search {
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-color: #EEF2f6;
          -webkit-text-stroke-width: 1px;
        }
      }
    }
  }

  .messages {
    height: calc(100% - 180px);
    width: 100%;
    background-color: white;
    border-bottom: 1px solid;
    border-color: #DDDDDD;
  }

  .posts {
    height: 120px;
    width: 100%;
    background-color: white;

    .blank {
      height: 4px;
      width: 100%;
      background-color: #F5F6F5;
      border-bottom: 2px solid;
      color: #E7E7E7
    }

    .posts__icons {
      height: 32px;
      width: 100%;
      background-color:	#F6F6F6;
      display: flex;
      position: relative;
      line-height: 32px;
      border-bottom: 1px solid;
      color: #E4E5E4;

      .posts__icon--left {
        a {
          text-decoration: none;
          color: #98A2B1;
        }

        .far.fa-smile {
          margin-left: 12px;
        }

       .far.fa-bookmark {
         margin-left: 52px;
       }

       .far.fa-square {
         margin-left: 18px;
       }

      }

      .fas.fa-caret-down {
        font-size: 2px;
        color: #98A2B1;
        margin-left: 4px;
      }

      .posts__icon--right {
        position: absolute;
        right: 12px;

        a {
          color: #9AA4B2;
          text-decoration: none;
          margin-left: 14px;
          font-size: 14px;
        }
      }
    }

    .posts__input {
      height: calc(100% - 36px);

      .post__text { 
        width: 100%;
        // height: 84px;
        border-style: none;
      }

      .post__image {
        position: absolute;
        left: 374px;
        bottom: 88px;
        color: #98A2B1;
      }

      .post__file {
        display: none;
      }
    }
  }
}